@import "tailwindcss";

/* Use class-based dark mode (apply .dark on html) */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-spin-slow: spin 20s linear infinite;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}